<div class="container-fluid head">
  <div class="container" *ngIf="articleData">
    <h1 class="logo" *ngIf="articleData">{{articleData.title}}</h1>
    <div class="detail">
      <h4>{{ articleData.author.username }}</h4>
      <div class="crudBtn" *ngIf='articleData.author.username===currentUser'>
          <button class="btn" [routerLink]="['/edit',articleData.slug]">Edit</button>&nbsp;
          <button class="btn btn-danger" (click)="deleteArticle()" >Delete</button>
      </div>
      <div class="crudBtn" *ngIf='articleData.author.username!==currentUser'>
          <button class="btn">Follow</button>&nbsp;
          <button class="btn">Favourite</button>
      </div> 
    </div>
  </div>

</div>
<div class="container comments text-center"  *ngIf='isUserLoggedIn'>
  <textarea #commentField cols="70" rows="5"></textarea><br>
  <button class="btn primary-btn" (click) = postComment(commentField.value)>Post Comment</button>
</div>
<div class="text-center" *ngIf='!isUserLoggedIn'>
  Please <a routerLink="/signin">signin</a> or <a routerLink="/signup">signup</a> to post comments <3
</div>

<div class="container comments text-center card" *ngFor="let comment of allComments">
  {{ comment.body }}
  <span>
    <button class="btn" (click)="deleteComment(comment.id)" *ngIf='comment.author.username===currentUser'>DeleteMe</button>
  </span>
</div>