.head {
    background-color: #373a3c;
    height: 170px;
}

.logo {
    padding-top:1.5rem;
    color : white; 
}

h5{
    display: inline;
}

img {
    display: inline;
}
.comments {
    padding-top: 100px;
    max-width: 500px;
}

.comment {
    width: 35rem;
    margin-left:30.5%;
}

.crudBtn {
    display: inline;
}

.articleBody {
    padding-top: 30px;
}

.showBlack {
    color : black;
}

.showWhite {
    color: white;
}
