.head {
    background-color: #373a3c;
    height: 170px;
}

.logo {
    padding-top:1.5rem;
    color : white; 
}

h4{
    color:white;
}

.comments {
    padding-top: 100px;
}

.crudBtn {
    display: inline;
}