<div class="container-fluid head">
  <div class="container">
    <h1 class="logo" *ngIf="articleData">{{articleData.title}}</h1>
    <h3></h3>
    <h4 class="text-center">A place to share your knowledge.</h4>
  </div>

</div>
<div class="container comments text-center"  *ngIf='isUserLoggedIn'>
  <textarea #commentField cols="70" rows="5"></textarea><br>
  <button class="btn primary-btn" (click) = postComment(commentField.value)>Post Comment</button>
</div>
<div class="text-center" *ngIf='!isUserLoggedIn'>
  Please <a routerLink="/signin">signin</a> or <a routerLink="/signup">signup</a> to post comments <3
</div>

<div class="container comments text-center card" *ngFor="let comment of allComments">
  {{ comment.body }}
  <span>
    <button class="btn" (click)="deleteComment(comment.id)" *ngIf='comment.author.username===currentUser'>DeleteMe</button>
  </span>
</div>