<app-header>Loading..</app-header>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-articles></app-articles>
    </div>
    <div class="col-md-4">
      <app-tags (isTagSelected)="onTagSelection($event)"></app-tags>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>

<div class="container-fluid footer">
  <h4 class="text-center">
    Made With <i class="fas fa-heart"></i>
  </h4>
  <h3 class="text-center">
    Feel Free To Conribute <a href="https://github.com/vishalagg/conduit_App_Nagarro" alt="https://github.com/vishalagg/conduit_App_Nagarro"><i class="fab fa-github-square"></i></a>
  </h3>
</div>