<div *ngIf="parent==='home'">
  <button class="btn" (click)="getFeed('user')" *ngIf="localStorageObj.getItem('token')">Your Feed</button>
  <button class="btn" (click)="getFeed('global')">Global Feed</button>
  <button class="btn" *ngIf="tagName">{{ tagName }}</button>
</div>
<div *ngIf="parent==='profile'">
  <button class="btn" (click)="getFeed('myFeed')">My Articles</button>
  <button class="btn" (click)="getFeed('favourite')">Favourite</button>
</div>
<hr>
<app-article-list></app-article-list>