.tag {
    /* float: left; */
    /* display: block; */
    color: #aaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* border-bottom: 3px solid transparent; */
}

a {
    cursor: pointer;
}

a:hover { 
    color: black;
}

a.active {
    border-bottom: 2px solid #5cb85c;
    color : #5cb85c;
}

a.active:hover {
    color: #5cb85c;
}

.main {
    margin-top: 10px;
    /* padding-bottom:0px; */
}

hr {
     margin-top: 13px;
 }
