.jumbo {
    margin-top: 15px;
    padding-top : 10px;
    padding-bottom: 15px;
}

.main {
    display: inline;
    border-radius: 32px;
}

.mybtn {
    border-radius: 20px;
    background-color: #818a91;
    color:white;
    margin:3px;
}
