<li>
  <div class="head">
    <div class="heart">
      <a (click)="switchFav('unfav',article)"><i class="fas fa-heart" *ngIf="article.favorited">{{ article.favoritesCount }}</i></a> 
      <a (click)="switchFav('fav',article)"><i class="far fa-heart" *ngIf="!article.favorited">{{ article.favoritesCount }}</i></a> 
    </div>
    <div class="imgDiv">
      <img src="{{ article.author.image }}" alt="image" height="32px" width="32px" />
    </div>
    <div class='uname'>
      <a [routerLink]="['/profile',article.author.username]"> {{ article.author.username }} </a> 
      <small class='text-muted'>{{ article.createdAt | date: 'longDate' }}</small>
    </div>

  </div>
  <h3>{{ article.title }}</h3>
  <p class="text-muted">{{ article.description }}</p>


  <small class="text-muted">
    <a class="readMore" [routerLink]="['/article',article.slug]">Read more...</a>
  </small>
  <hr>
</li>